.container {
    
    width: 96%;
    margin: 0 auto;
}

.formulario{

    margin-top: 2rem;

}

.formulario .title{

    color: tomato;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: .6rem;

}

.campo{

    margin: .5rem 1.5rem .5rem 1.5rem;

}

.campo-label{

    display: block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.1rem;
    font-weight: 700;

}

.campo-input{

    display: block;
    width: 100%;
    font-size: 1.3rem;
    padding: .2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #48A3A6;
}

.button {

    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 25px 50px;
    background-color: #48A3A6;
    border-radius: 8px;
}

.validaNome{

    color: red;
    display: none;
}

.validaEmail{

    color: red;
    display: none;

}