.painel-palestrantes {
    padding-top: 40px;
    background: #EF7247;
}
.painel-palestrantes .about-palestrantes {
    text-align: center;
}

.painel-palestrantes .title {

    color: white;
    font-size: 40px;
    margin-bottom: 16px;

}

.painel-palestrantes .subtitle {
    color: white;
    font-size: 32px;
    margin-bottom: 16px;
}

.painel-palestrantes .palestrantes {
    text-align: center;
}

.painel-palestrantes .palestrante {

    background: white;
    display: inline-block;
    margin: 0 16px 32px 0;
    padding: 18px;
    border-radius: 10px;
    width: 220px;
    vertical-align: top;
}

.painel-palestrantes .palestrante-image {
    border-radius: 50%;
}

.painel-palestrantes .palestrante-name {
    margin-top: 10px;
}

.painel-palestrantes .palestrante-bio {
    font-weight: bold;
    margin-top: 16px;
}

.painel-palestrantes .palestrante-speach {
    
   margin-top: 16px;
}


